
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


//@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Inconsolata:300|Material+Icons");
//@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
// index.js or main.js
@import '~material-design-icons-iconfont/dist/material-design-icons.css'; // Ensure you are using css-loader



// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~vuetify/dist/vuetify.min.css'; // Ensure you are using css-loader
@import '~vuetify-daterange-picker/dist/vuetify-daterange-picker.css';

.nuevo {
  padding: 10px 10px 0px 10px;
  /* background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple); */
  border-radius: 10px 10px 10px 10px;
}

.titulos {
  border-bottom: 2px solid black;
}

.titulos-2 {
  border-bottom: 2px solid red;
}

.borde {
  border: 2px solid red;
}

.borde1 {
  background-color: black;
}

.sinborde {
  padding: 0px 0px 0px 0px;
  border-radius: 10px 10px 10px 10px;
}

.sinborde1 {
  padding: 15px 15px 15px 15px;
  border-radius: 10px 10px 10px 10px;
}
